In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector

In [13]:
class conexion:
    def mysql(self):
        conectado = mysql.connector.connect(host='localhost',database='carreras',user='admincar',password='admincar')

In [10]:
conectar = conexion().mysql()
df = pd.read_sql('SELECT * FROM c_uni', con=conectar)
print(df)

AttributeError: 'NoneType' object has no attribute 'cursor'